<li id="event">
  <span class="user"><%= link_to event.title, event %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(event.created_at) %> ago.
  </span>
  <%= link_to "delete", event, method: :delete, title: event.title %>
</li>